<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      <form action="/registration" method="post">
        <input type="email" name="email" id="" placeholder="username" /><br />
        <input
          type="password"
          name="password"
          id=""
          placeholder="password"
        /><br />
        <a href="registration"> Registration</a><br />
        <button type="Login">Submit</button>
      </form>
    </div>
  </body>
</html>
